* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  background-color: black;
}

#sobre-mim {
  margin-top: 100px;
  margin-bottom: 100px;
}

#sobre-mim h2 {
  text-transform: uppercase;
}

.titulo-projetos {
  text-transform: uppercase;
  padding-top: 50px;
}

#projetos {
  margin-bottom: 100px;
}

