* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  background-color: black;
}

#sobre-mim {
  margin-top: 200px;
  margin-bottom: 300px;
}

#sobre-mim h2 {
  text-transform: uppercase;
}

.titulo-projetos {
  text-transform: uppercase;
  padding-top: 50px;
}

#projetos {
  margin-bottom: 100px;
}

footer {
  margin: 100px;
}

footer h2 {
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  footer .navbar {
    flex-wrap: nowrap;
  }

  footer {
    text-align: center;
  }

  footer h2,
  p {
    margin-bottom: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
