* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

#apresentacao-nome {
  display: inline;
  position: relative;
  top: 5px;
}

#apresentacao-cargo {
  display: inline;
  position: relative;
  padding: 1px;
}

#cabecalho {
  background: blue;
  margin: 0 auto;
  color: #adcbf8;
  text-align: center;
  padding: px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

#menu a:link,
a:visited {
  color: white;
}

#menu a:hover {
  background: white;
  color: blue;
}

#menu a {
  color: white;
  padding: 20px;
  position: relative;
  bottom: 20px;
  left: 470px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#container {
  width: 1200px;
}

#introdução {
  color: black;
  background: #d6eaf8;
  padding: 15px;
  font-size: 22px;
  margin-top: 15px;
  width: 750px;
  height: 500px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: left;
  position: relative;
}

#p-introducao {
  position: relative;
  top: 130px;
}

#imagem-introducao img {
  display: inline;
  width: 400px;
  height: 400px;
  float: right;
  margin-top: 70px;
}

#menu2 {
  padding: 20px;
}
#menu2 a:link,
a:visited {
  color: white;
}

#menu2 a:hover {
  background: white;
  color: blue;
}

#menu2 a {
  color: white;
  padding: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#sobreposicao1 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 100px;
  left: 350px;
  z-index: 1;
}

#sobreposicao2 {
  position: relative;
  width: 300px;
  height: 300px;
  top: 100px;
  left: 600px;
}

#menu2 a {
  padding: 20px;
}

#menu3 {
  padding: 20px;
}
#menu3 a:link,
a:visited {
  color: white;
}

#menu3 a:hover {
  background: white;
  color: blue;
}

#menu3 a {
  color: white;
  padding: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#menu3 a {
  padding: 20px;
}

h4 {
  background: gray;
  color: black;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}

#projetos {
  margin: 50px 0px 50px 50px;
  width: 600px;
  display: inline;
}

#contato1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}

#contato {
  padding: 5px;
  text-align: center;
  position: relative;
  top: 490px;
}
